services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - backnet
    ports:
      - 8081:8081
    volumes:
      - ./backend:/usr/src/app
      #- .:/usr/src/app <--- PARA MONTAR TODO Y USAR GIT

  next-app:
    container_name: next-app
    build:
      context: ./client
      target: development
      dockerfile: dev.Dockerfile
    # Set environment variables directly in the compose file
    environment:
      ENV_VARIABLE: ${ENV_VARIABLE}
      NEXT_PUBLIC_ENV_VARIABLE: ${NEXT_PUBLIC_ENV_VARIABLE}
    env_file:
      - .env
    volumes:
      - ./client:/app
      - /app/node_modules
      #- .:/app
    #restart: always
    ports:
      - 3000:3000
    networks:
      - frontnet

  nginx_rtmp:
    container_name: nginx-rtmp
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - 1935:1935
      - 8080:8080
      - 7000:7000
    networks:
      - nginx
    volumes:
      - ./nginx/index.html:/usr/local/nginx/html/index.html
      - ./nginx/recordings:/tmp/rec
      - ./nginx/hls:/tmp/hls
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    # For older Docker versions or Docker Desktop with GPU:
    # (use *one* of the following)
    # runtime: nvidia
    # OR:
    # gpus: all

    gpus: all

    environment:
      # Optional: Improve NVENC performance
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,video,utility

networks:
  backnet:
  frontnet:
  nginx:
